<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Beginners</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <style>
        body {
            margin :5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active{
            background: salmon;
            border: 0;
            padding: 5px;
        }
        </style>
</head>

<div id="app" >
  <template>
    <header-component nama="Dila" img="image/js.png" />
  </template>
  <body>

    <main>
      <kelas :items="checked" :input="kelasBaru"></kelas>
      <home></home>
    </main>
    
    
    
  </body>
  <footer-component />

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
<script>
  const Home = {
    template: `<div>Home</div>`
  }

  Vue.component('header-component', {
    props: ['nama', 'img'],
    template:`
      <header>
          <img :src="img" width="100">
          <p>The Progresive 
              Javascript Framework</p>
          <p v-text="'Hello, '+nama" ></p>
      </header>
    `,
    data: function() {
      return {
        pesan: 'Hello, Folks!'
      }
    }
  })
  Vue.component('kelas', {
    props: ['items', 'input'],
    template: `
      <div>
        <h3>Form Input</h3>
        <p><input type="text" placeholder="nama kelas" v-on:keyup.enter="submit" v-model="input"></p>
        <hr>
        <div>
            <p>Daftar kelas {{items.length}}</p>
            <template>
                <ul v-if="items.length > 1" >
                    <li v-for="(item, index) in items">{{index+1}} {{item}}</li>
                </ul>
                    <li v-else>data belum tersedia</li>
            </template>
        </div>
      </div>
    `,
    data: function() {
      return {
      }
    },
    methods: {
        submit: function() {
              // console.log(text)
              this.items.unshift(this.input)
              this.input=""
      }
    }
  })
  Vue.component('footer-component', {
    template:`
      <footer id="footer">
          <p>copyright 2022</p>
      </footer>
    `
  })

  const vm = new Vue({
      el : '#app',
      components:{
        'home': Home
      },
      data : {
          kelasBaru : "",
          checked : ["Golang", "Java", "PHP"]
      },
      methods : {
          submit: function() {
              // console.log(text)
              this.checked.unshift(this.kelasBaru)
              this.kelasBaru=""
          }
      },
      computed : {
      }
  })
</script>
</html>