<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Beginners</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <style>
        body {
            margin :5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active{
            background: salmon;
            border: 0;
            padding: 5px;
        }
        </style>
</head>

<div id="app" >
<body>
    <header>
        <img src="image/js.png" width="80">
        <h1>{{name}}</h1>
        <input type="text" v-model='name'>
        <p>{{bilangan}}</p>

        <div>
            <p>Daftar kelas {{checked.length}}</p>
            <ul v-if="checked.length > 1" >
                <li v-for="(item, index) in checked">{{index+1}} {{item}}</li>
            </ul>
                <li v-else>data belum tersedia</li>

            <p>Perulangan 1-5</p>
            <ul>
                <li v-for="i in 5" v-text="i"></li>
            </ul>
            <div></div>
            <p>mencari bilangan genap: {{numbers}}</p>
            <ul>
                <li v-for="i in bilanganGenap(numbers)" v-text="i"></li>
            </ul>

            <label >{{checked}}</label>
            <div></div>
            <label><input type="checkbox" value='Vue' v-model="checked">Vue</label>
            <label><input type="checkbox" value="React" v-model="checked">React</label>
            <label><input type="checkbox" value="Angular" v-model="checked">Angular</label>
            <label><input type="checkbox" value='Golang' v-model="checked">Golang</label>
            <label><input type="checkbox" value="PHP" v-model="checked">PHP</label>
            <label><input type="checkbox" value="JavaScript" v-model="checked">JavaScript</label>
        </div>

        <button v-bind:class="{active: menu === 'Home'}" v-on:click="menu = 'Home'">Home</button>
        <button v-bind:class="{active: menu === 'About'}" v-on:click="menu = 'About'">About</button>
        <button v-bind:class="{active: menu === 'Blog'}" v-on:click="menu = 'Blog'">Blog</button>
        
        <p>The Progresive 
            Javascript Framework</p>
    </header>

    <footer id="footer">
        <p>copyright 2022</p>
    </footer>
            
</body>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
<script>
    const vm = new Vue({
        el : '#app',
        data : {
            name : 'Kamal',
            message : 'Hello World!',
            qty : 1,
            namaDepan : "Pramudya",
            NamaBelakang : "Kamal",
            bilangan : 1,
            link : '<a href="">Login</a>',
            image : 'image/vuejs.jpg',
            menu : 'About',
            checked : [],
            numbers : [1,2,3,4,5]
        },
        methods : {
            getname: function() {
                return 'Hello, '+this.name
            },
            ubahNama: function(namaBaru) {
                this.name = namaBaru
                return this.getname()
            },
            handleClick: function() {
                this.bilangan++
                this.infoBilangan === 'Genap' ? this.image = "image/React.jpg" : this.image = "image/vuejs.jpg"
            },
            bilanganGenap: (data) => {
                return data.filter(angka => {
                    return angka%2 == 1
                })
            }
        },
        computed : {
            hargaBarang: function() {
                return this.qty*100000
            },
            namaLengkap: function() {
                return this.namaDepan + ' ' + this.NamaBelakang
            },
            infoBilangan : function() {
                return this.bilangan%2 === 0 ? 'Genap' : 'Ganjil'
            }
        }
    })
</script>
</html>